In [9]:
from config import username, password
import pandas as pd
import psycopg2

In [18]:
def execute(query):

    conn = psycopg2.connect(
    user=username,
    password=password,
    host="aact-db.ctti-clinicaltrials.org",
    port='5432',
    database="aact"
    )

    df=pd.read_sql(query, conn)

    return df

In [32]:
q = "select * from information_schema.tables"
tables = execute(q)

C:\Users\jungs\AppData\Local\Temp\ipykernel_14668\2503996454.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql(query, conn)

In [25]:
tables.head(5)

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,aact,pg_catalog,pg_foreign_table,BASE TABLE,None,None,None,None,None,YES,NO,None
1,aact,pg_catalog,pg_roles,VIEW,None,None,None,None,None,NO,NO,None
2,aact,pg_catalog,pg_settings,VIEW,None,None,None,None,None,NO,NO,None
3,aact,pg_catalog,pg_subscription,BASE TABLE,None,None,None,None,None,YES,NO,None
4,aact,pg_catalog,pg_sequence,BASE TABLE,None,None,None,None,None,YES,NO,None

In [29]:
tables['table_schema'].unique()

array(['pg_catalog', 'information_schema', 'ctgov', 'mesh_archive',
       'proj_tag_nephrology', 'proj_tag_study_characteristics',
       'proj_cdek_standard_orgs', 'proj_results_reporting'], dtype=object)

In [31]:
tables['table_type'].unique()

array(['BASE TABLE', 'VIEW'], dtype=object)

In [33]:
tables[tables['table_type']=='BASE TABLE']

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,aact,pg_catalog,pg_foreign_table,BASE TABLE,None,None,None,None,None,YES,NO,None
3,aact,pg_catalog,pg_subscription,BASE TABLE,None,None,None,None,None,YES,NO,None
4,aact,pg_catalog,pg_sequence,BASE TABLE,None,None,None,None,None,YES,NO,None
5,aact,pg_catalog,pg_publication,BASE TABLE,None,None,None,None,None,YES,NO,None
6,aact,pg_catalog,pg_publication_rel,BASE TABLE,None,None,None,None,None,YES,NO,None
...,...,...,...,...,...,...,...,...,...,...,...,...
231,aact,ctgov,facility_investigators,BASE TABLE,None,None,None,None,None,YES,NO,None
232,aact,ctgov,outcome_analysis_groups,BASE TABLE,None,None,None,None,None,YES,NO,None
233,aact,ctgov,ipd_information_types,BASE TABLE,None,None,None,None,None,YES,NO,None
234,aact,ctgov,result_agreements,BASE TABLE,None,None,None,None,None,YES,NO,None
235,aact,ctgov,result_contacts,BASE TABLE,None,None,None,None,None,YES,NO,None

In [34]:
tables[tables['table_type']=='VIEW']

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
1,aact,pg_catalog,pg_roles,VIEW,None,None,None,None,None,NO,NO,None
2,aact,pg_catalog,pg_settings,VIEW,None,None,None,None,None,NO,NO,None
11,aact,pg_catalog,pg_statio_all_indexes,VIEW,None,None,None,None,None,NO,NO,None
27,aact,pg_catalog,pg_matviews,VIEW,None,None,None,None,None,NO,NO,None
28,aact,pg_catalog,pg_group,VIEW,None,None,None,None,None,YES,NO,None
...,...,...,...,...,...,...,...,...,...,...,...,...
250,aact,ctgov,all_secondary_outcome_measures,VIEW,None,None,None,None,None,NO,NO,None
251,aact,ctgov,all_sponsors,VIEW,None,None,None,None,None,NO,NO,None
252,aact,ctgov,all_states,VIEW,None,None,None,None,None,NO,NO,None
253,aact,ctgov,categories,VIEW,None,None,None,None,None,YES,NO,None
254,aact,ctgov,covid_19_studies,VIEW,None,None,None,None,None,NO,NO,None

In [40]:
tables[tables['table_type']=='VIEW'].groupby('table_schema')['table_name'].count()

table_schema
ctgov                 20
information_schema    54
pg_catalog            54
Name: table_name, dtype: int64

In [41]:
tables[tables['table_type']=='BASE TABLE'].groupby('table_schema')['table_name'].count()

table_schema
ctgov                             50
information_schema                 6
mesh_archive                       4
pg_catalog                        58
proj_cdek_standard_orgs            2
proj_results_reporting             1
proj_tag_nephrology                2
proj_tag_study_characteristics     4
Name: table_name, dtype: int64

In [38]:
tables[tables['table_schema']=='proj_tag_study_characteristics']

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
166,aact,proj_tag_study_characteristics,mental_health_studies,BASE TABLE,None,None,None,None,None,YES,NO,None
168,aact,proj_tag_study_characteristics,oncology_studies,BASE TABLE,None,None,None,None,None,YES,NO,None
169,aact,proj_tag_study_characteristics,cardiovascular_studies,BASE TABLE,None,None,None,None,None,YES,NO,None
227,aact,proj_tag_study_characteristics,tagged_terms,BASE TABLE,None,None,None,None,None,YES,NO,None

In [43]:
tables[tables['table_name']=='studies']

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
210,aact,ctgov,studies,BASE TABLE,None,None,None,None,None,YES,NO,None

In [39]:
q='select * from proj_tag_study_characteristics.mental_health_studies'
df=execute(q)
df.head()

C:\Users\jungs\AppData\Local\Temp\ipykernel_14668\2503996454.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql(query, conn)

,id,nct_id,brief_title,lead_sponsor
0,1,NCT00594633,Adjunctive Donepezil Therapy and Genetic Risk ...,Memorial Sloan-Kettering Cancer Center
1,2,NCT00627029,Evaluation of Programs of Coordinated Care and...,"Mathematica Policy Research, Inc."
2,3,NCT00924937,CORonary Diet Intervention With Olive Oil and ...,Hospital Universitario Reina Sofia
3,4,NCT01105923,Study of an Intervention to Improve Problem Li...,Brigham and Women's Hospital
4,5,NCT00554164,Positron Emission Tomography Guided Therapy of...,"University Hospital, Essen"

In [48]:
q='select * from studies'
df=execute(q)
df.head()

C:\Users\jungs\AppData\Local\Temp\ipykernel_14668\2503996454.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql(query, conn)

,nct_id,nlm_download_date_description,study_first_submitted_date,results_first_submitted_date,disposition_first_submitted_date,last_update_submitted_date,study_first_submitted_qc_date,study_first_posted_date,study_first_posted_date_type,results_first_submitted_qc_date,...,plan_to_share_ipd,plan_to_share_ipd_description,created_at,updated_at,source_class,delayed_posting,expanded_access_nctid,expanded_access_status_for_nctid,fdaaa801_violation,baseline_type_units_analyzed
0,NCT00007358,None,2000-12-19,None,None,2016-03-10,2000-12-16,2000-12-18,Estimate,None,...,None,None,2023-10-12 14:38:43.206583,2023-10-12 14:38:43.206583,OTHER,None,None,None,None,None
1,NCT04407182,None,2020-05-25,None,None,2021-01-07,2020-05-28,2020-05-29,Actual,None,...,Yes,None,2023-10-16 14:44:42.552357,2023-10-16 14:44:42.552357,INDUSTRY,None,None,None,None,None
2,NCT00112060,None,2005-05-27,None,None,2014-03-27,2005-05-27,2005-05-30,Estimate,None,...,None,None,2023-10-12 14:38:43.854564,2023-10-12 14:38:43.854564,INDUSTRY,None,None,None,None,None
3,NCT00007397,None,2000-12-19,None,None,2016-05-12,2000-12-18,2000-12-19,Estimate,None,...,None,None,2023-10-12 14:38:44.467206,2023-10-12 14:38:44.467206,NIH,None,None,None,None,None
4,NCT03594032,None,2018-07-11,None,None,2019-12-31,2018-07-11,2018-07-20,Actual,None,...,Undecided,None,2023-10-16 14:44:43.263459,2023-10-16 14:44:43.263459,OTHER,None,None,None,None,None

In [51]:
print(df.shape)

(469500, 70)

In [52]:
df.columns

Index(['nct_id', 'nlm_download_date_description', 'study_first_submitted_date',
       'results_first_submitted_date', 'disposition_first_submitted_date',
       'last_update_submitted_date', 'study_first_submitted_qc_date',
       'study_first_posted_date', 'study_first_posted_date_type',
       'results_first_submitted_qc_date', 'results_first_posted_date',
       'results_first_posted_date_type', 'disposition_first_submitted_qc_date',
       'disposition_first_posted_date', 'disposition_first_posted_date_type',
       'last_update_submitted_qc_date', 'last_update_posted_date',
       'last_update_posted_date_type', 'start_month_year', 'start_date_type',
       'start_date', 'verification_month_year', 'verification_date',
       'completion_month_year', 'completion_date_type', 'completion_date',
       'primary_completion_month_year', 'primary_completion_date_type',
       'primary_completion_date', 'target_duration', 'study_type', 'acronym',
       'baseline_population', 'brief_title', 'official_title',
       'overall_status', 'last_known_status', 'phase', 'enrollment',
       'enrollment_type', 'source', 'limitations_and_caveats',
       'number_of_arms', 'number_of_groups', 'why_stopped',
       'has_expanded_access', 'expanded_access_type_individual',
       'expanded_access_type_intermediate', 'expanded_access_type_treatment',
       'has_dmc', 'is_fda_regulated_drug', 'is_fda_regulated_device',
       'is_unapproved_device', 'is_ppsd', 'is_us_export', 'biospec_retention',
       'biospec_description', 'ipd_time_frame', 'ipd_access_criteria',
       'ipd_url', 'plan_to_share_ipd', 'plan_to_share_ipd_description',
       'created_at', 'updated_at', 'source_class', 'delayed_posting',
       'expanded_access_nctid', 'expanded_access_status_for_nctid',
       'fdaaa801_violation', 'baseline_type_units_analyzed'],
      dtype='object')

In [53]:
df[df['nct_id']=="NCT00007358"]

,nct_id,nlm_download_date_description,study_first_submitted_date,results_first_submitted_date,disposition_first_submitted_date,last_update_submitted_date,study_first_submitted_qc_date,study_first_posted_date,study_first_posted_date_type,results_first_submitted_qc_date,...,plan_to_share_ipd,plan_to_share_ipd_description,created_at,updated_at,source_class,delayed_posting,expanded_access_nctid,expanded_access_status_for_nctid,fdaaa801_violation,baseline_type_units_analyzed
0,NCT00007358,None,2000-12-19,None,None,2016-03-10,2000-12-16,2000-12-18,Estimate,None,...,None,None,2023-10-12 14:38:43.206583,2023-10-12 14:38:43.206583,OTHER,None,None,None,None,None